<!DOCTYPE html>
<html>
<head xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="U-UX-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Universidad Alkemy</title>
</head>
<body>
	<h2>Restauracion de número de legajo</h2>
	
	<p>Ingresa a este <a th:href="${recoverPasswordLink}">enlace</a> para restablecer tu contraseña</p>
	
	<p><small>Si crees que ha habido un error, por favor desestima este mensaje.</small></p>

	<p>Equipo de Universidad Alkemy</p>
</body>
</html>