<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="front/fragments/header :: head">
</head>
<body>
	<header th:replace="front/fragments/header :: index"></header>
	<main class="container contenedor">
			<div class="m-0 vh-100 row justify-content-center align-items-center">
				<div class="col-auto p-5 text-center">
					<div class="alert alert-success mt-2" role="alert"
						th:if="${success != null}">
						<p class="text-center" th:text="${success}"></p>
					</div>
					<div class="alert alert-warning mt-2" role="alert"
						th:if="${error != null}">
						<p class="text-center" th:text="${error}"></p>
					</div>
						<div class="card text-center p-4" style="width: 30rem;">
						<i class="fas fa-lock fa-7x mt-3"></i>
						  <div class="card-body m-3 ">
						    <h5 class="card-title">Recuperar legajo</h5>
						    <p class="card-text">Ingrese su correo electrónico</p>
						    <form th:action="@{/sendmail}" method="POST">
						    	<div class="input-group mb-3">
						    		<span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope fa-xs"></i></span>
							    	<input class="form-control" type="email" name="email" placeholder="Ej. ejemplo@mail.com" aria-label="Username" aria-describedby="basic-addon1">
							    </div>
							    <div class="d-grid gap-2">
							    	<button type="submit" class="btn btn-primary mt-2">Enviar</button>
							  	</div>
						  	</form>
						  </div>
						</div>
				</div>
			</div>
	</main>
	<footer th:replace="front/fragments/footer :: footer"></footer>
</body>
</html>